<!DOCTYPE HTML>
<html>
	 <head>
	   <title><%= @product.name %></title>
	   <link href="/css/bootstrap.min.css" rel="stylesheet">
	   <link href="/css/kevin.css" rel="stylesheet" />
	   <link rel="shortcut icon" href="/pics/nena.ico">
	   <title>Aling Nena</title>
	 </head>
	 <body>
	 	<div class = "mybar">
	 		<a href ="/"><div>
	 			<p>Home</p>
	 		</div></a>
	 		<a href ="/products"><div>
	 			<p>Products</p>
	 		</div></a>
	 		<a href ="/about"><div>
	 			<p>About Us</p>
	 		</div></a>
	 	</div>
	 	<br />
	 	<h1>You just bought <%= @amount %> <%= @piece %> of <%= @product.name %></h1>
	 	<br />
	 	<h4>
	 	Cash Paid: <%= @money_paid %> <br />
	 	Cash Due: <%= @money_due %> <br />
	 	Change: <%= @money_change %> <br /><br />
	 	Denominations: <br />
	 	One peso coin: <%= @denominations[:ones] %> <br />
	 	Five peso coin: <%= @denominations[:fives] %> <br />
	 	Ten peso coin: <%= @denominations[:tens] %> <br />
	 	Twenty peso bill: <%= @denominations[:twenties] %> <br />
	 	Fifty peso bill: <%= @denominations[:fifties] %> <br />
	 	Hundred peso bill: <%= @denominations[:hundreds] %> <br />
	 	Five hundrer peso bill: <%= @denominations[:five_hundreds] %> <br />
	 	Thousand peso bill: <%= @denominations[:thousands] %> <br />
	 	</h4>
	 	<br /><br /><br />
	 	
	 </body>
</html>